@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="row">
        <h1>Kalkulačka</h1>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="col-sm-6">
                <div class="row">
                    <input type="text" class="form-control" id="numberOne" readonly="" hidden="">
                    <input type="text" class="form-control" id="numberTwo" readonly="" hidden="">
                    <input type="text" class="form-control" id="operator" readonly="" hidden="">
                    <div class="input-group mb-3">
                      <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox"  id="resultIntegers"/>
                      </div>
                        <input type="text" class="form-control" readonly="" value="Pouze celá čísla"/>
                    </div>
                    
                    <input type="text" class="form-control" id="calculatorDisplay" readonly="" value="0">
                </div>
                <div class="row m-2">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" type="button" onclick="addValue('7')">7</button>
                        <button class="btn btn-primary" type="button" onclick="addValue('8')">8</button>
                        <button class="btn btn-primary" type="button" onclick="addValue('9')">9</button>
                        <button class="btn btn-dark" type="button" onclick="addOperator('/')">/</button>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" type="button" onclick="addValue('4')">4</button>
                        <button class="btn btn-primary" type="button" onclick="addValue('5')">5</button>
                        <button class="btn btn-primary" type="button" onclick="addValue('6')">6</button>
                        <button class="btn btn-dark" type="button" onclick="addOperator('*')">*</button>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" type="button" onclick="addValue('1')">1</button>
                        <button class="btn btn-primary" type="button" onclick="addValue('2')">2</button>
                        <button class="btn btn-primary" type="button" onclick="addValue('3')">3</button>
                        <button class="btn btn-dark" type="button" onclick="addOperator('-')">-</button>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" type="button" onclick="addValue('0')">0</button>
                        <button class="btn btn-primary" type="button" onclick="addValue('.')">.</button>
                        <button class="btn btn-primary" type="button" onclick="clearData()">C</button>
                        <button class="btn btn-dark position-relative end-0" type="button" 
                                onclick="addOperator('+')">+</button>
                    </div>
                </div>
                <div class="row m-2">
                    <button class="btn btn-warning" type="button" id="btnSubmit">=</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <table class="table table-striped border-dark" id="lastCalcResult">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Výsledek</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="js/Home.js"></script>
}
